.Triangle{
    width: 0;
    height: 0;
    border-left: 80px solid transparent !important;
    border-right: 80px solid transparent !important;
    border-bottom: 150px solid lightblue !important;
width: 0 !important;
margin: auto;
  }
  .Triangle h3, .Box h3{display: none;}

  .EdgeBox{
    border-radius: 40%;
    background-Color: black;
    border: 4px solid yellow;
  height: 5rem;
  width: 15rem;
  margin: auto;
  }
  .Box{
    
  }
  .Circle h3, .EdgeBox h3{display: none;}
  .Circle{
    border-radius: 50%;
            background-color: black;
            color: white;
            height: 8rem;
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items:center ;
            margin: auto;
  }

  .Box{
    border:2px solid green;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin: auto;
  }

  .star {
  
    
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    margin: auto;
    margin-top: 2rem;
  }
  .star:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }
  .draggable_Container{
    display: flex;
     column-gap: 20px;
    align-items: center;
    justify-content: center;
  }
button{
  width: 5rem;
  height: 3rem;
  padding: 10px ;
  font-size: 15px;
  font-weight: 600;
  border: none;
  background-color: darkblue;
  color: white;
}
 p{
  flex:1;
  border: 1px solid silver;
  padding:10px
 }
 h2{flex:1;
  border: 1px solid silver;
  padding:10px;
font-weight: 500;
font-size: 18px;}