.appointmentDetails{
  border: 1px solid silver;
  padding: 18px 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.appointmentDetails:nth-child(2)
{
  font-weight: 500;
  font-size: 18px;
  color: grey;
  margin: 0;
  
}
.appointmentDetails:nth-child(1), .appointmentDetails:nth-child(6){
 
  font-weight: 500;
  font-size: 18px;
}
.appointmentDetails:nth-child(3), .appointmentDetails:nth-child(4){
  font-weight: 500;
  font-size: 18px;
}
.appointmentDetails:nth-child(3), .appointmentDetails:nth-child(5){
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.appointmentDetails:nth-child(9){
  display: none;
}
.appointmentDetails:nth-child(7), .appointmentDetails:nth-child(8){
  font-weight: 500;
  font-size: 18px;
  color: grey;
  margin: 0;
  
}
.cardData{

display: flex;
flex-direction: column;
min-height: 20rem;}
.btn{
  background-color: #2F0A6B;color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;


}
.btn_wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.centerLayout{
  display: flex;
  flex-direction: column;
 
  margin: auto;

}
.dragableContent{
  border: 1px solid silver;
  border-radius: 10px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;min-height: 10rem;
}
.wrapper{
  display: flex;
  gap:1rem;
  justify-content:center ;
  width: 90%;
  margin: auto;
  margin-top: 3rem;

  

}
.Col1{
  background-color: none;
  height: fit-content;
  flex:0.5;
  border:1px solid silver;
  padding: 10px 20px;
}
.lastcontainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lastcontainer{ border: 1px solid silver;
  padding: 20px 10px;
  border-radius: 10px;
flex:0.5
}
.lastcontainer >input {padding: 10px 20px;
font-size: 15px;
font-weight: 600;
}
.lastcontainer>input:focus{
  outline-color: red;
}
.heading{
 margin-top: 0;
}
.centerContainer{
  border: 1px solid silver;
  border-radius: 20px;
  padding: 10px 20px;
 flex:1
  
}
