.appointmentDetails{
  border: 1px solid silver;
  padding: 18px 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.appointmentDetails:nth-child(2)
{
  font-weight: 500;
  font-size: 18px;
  color: grey;
  margin: 0;
  
}
.appointmentDetails:nth-child(1), .appointmentDetails:nth-child(6){
 
  font-weight: 500;
  font-size: 18px;
}
.appointmentDetails:nth-child(3), .appointmentDetails:nth-child(4){
  font-weight: 500;
  font-size: 18px;
}
.appointmentDetails:nth-child(3), .appointmentDetails:nth-child(5){
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.appointmentDetails:nth-child(9){
  display: none;
}
.appointmentDetails:nth-child(7), .appointmentDetails:nth-child(8){
  font-weight: 500;
  font-size: 18px;
  color: grey;
  margin: 0;
  
}
.cardData{

display: flex;
flex-direction: column;
min-height: 20rem;}

.btn_wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.centerLayout{
  display: flex;
  flex-direction: column;
 
  margin: auto;

}
.dragableContent{
  border: 1px solid silver;
  border-radius: 10px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;min-height: 10rem;
}
.wrapper{
  display: flex;
  gap:1rem;
  justify-content:center ;
  width: 90%;
  margin: auto;
  margin-top: 3rem;

  

}
.Col1{
  background-color: none;
  height: fit-content;
  flex:0.5;
  border:1px solid silver;
  padding: 10px 20px;
  border-radius: 10px;
}
.lastcontainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lastcontainer{ border: 1px solid silver;
  padding: 20px 10px;
  border-radius: 10px;
flex:0.5
}
.lastcontainer >input {padding: 10px 20px;
font-size: 15px;
font-weight: 600;
}
.lastcontainer>input:focus{
  outline-color: red;
}
.heading{
 margin-top: 0;
 font-family: 'SF Pro Text';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 17px;
letter-spacing: -0.006em;
margin-top: 2rem;
}
.centerContainer{
  border: 1px solid silver;
  border-radius: 20px;
  padding: 10px 20px;
 flex:1
  
}
.mainContainer{
  text-align: center;
}
.top_heading{

  font-family: 'SF Pro Text';
 font-style: normal;
 font-weight: 900;
 font-size: 40px;
 line-height: 17px;
 letter-spacing: -0.006em;
 margin-top: 2rem;
 margin-bottom: 2rem;
}
.heading{
  margin-top: 0;
  font-family: 'SF Pro Text';
 font-style: normal;
 font-weight: 600;
 font-size: 25px;
 line-height: 17px;
 letter-spacing: -0.006em;
 margin-top: 1rem;
 margin-bottom: 2rem;
 }
.one {
 display: none !important;
}


.checkboxField{display: flex;
  column-gap: 10px;align-items: center;
  justify-content: space-between;
  border: 1px solid #E9E2F4;
border-radius: 18px;
width: 15rem;
padding: 5px 20px;
color: #2F0A6B;
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.006em;

}