.cardData {
  flex: 1;
  border: 1px solid black;
}
.cardData_Wrapper {
  display: flex;
  gap: 10px;
}

.App {
  width: 80%;
  margin: auto;
  border: 1px solid red;
  height: 50vh;
}

.PatientID {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  display: flex;
}
